#Virtualenvironments
env/
venv/

#Environment variables
.env

#Database
db.sqlite3

#compiled files
__pycache__

#Editor settings
.vscode
.idea

#Compiled statics
/statics

#Docker database
/db_data/*
