{% load sass_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}WellDone{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% sass_src 'base.scss' %}" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="{% static 'images/wd.png'%}" alt="Welldone"></a>

            <form action="" method="get" class="searcher">
                <input class="form-control" type="search" name="search" id="search" placeholder="search..." value={{ search }}>
            </form>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    {% if user.username %}
                    <li>
                         <a class="nav-link" href="#"><span>{{ user.username }} </span></a>
                    </li>
                    {% endif %}
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout_web' %}">Logout <span class="sr-only">(current)</span></a>
                      </li>
                    {% else %}
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login_web' %}">Log in <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup_web' %}">Sign up</a>
                      </li>
                    {% endif %}
                </ul>
              </div>
        </nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'latest_articles' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categories_list' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users_list' %}">Authors</a>
          </li>
        </ul>
    </header>
    <main>
        {% block body_main %}{% endblock %}
    </main>
    <footer>
        <p>WellDone</p>
        <ul class="links-list">
            <li><a class="link" href="#">Get Started</a></li>
            <li><a class="link" href="#">About WellDone</a></li>
            <li><a class="link" href="#">Write</a></li>
            <li><a class="link" href="#">Gift</a></li>
            <li><a class="link" href="#">Help</a></li>
            <li><a class="link" href="#">Press Contacts</a></li>
            <li><a class="link" href="#">Careers</a></li>
            <li><a class="link" href="#">Legal</a></li>
        </ul>
        <p class="copyright">WellDone &copy; {% now 'Y' %}. All rights reserved.</p>
    </footer>
    {% block js %}{% endblock %}
    {% bootstrap_javascript jquery='full' %}
</body>
</html>