{% load sass_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}WellDone{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'base.scss' %}" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1>WellDone</h1>
        <form action="" method="get" class="searcher">
            <label for="search">Search for</label>
            <input type="search" name="search" id="search" placeholder="search..." value={{ search }}>
        </form>
        <nav class="nav_user">
            {% if user.username %} <span class="nav_button" > {{ user.username }} </span>{% endif %}
            {% if user.is_authenticated %}
                <a class="nav_button" href="{% url 'logout_web' %}"> Logout </a>
            {% else %}
                <a class="nav_button" href="{% url 'login_web' %}"> Log in </a>
                <a class="nav_button" href="{% url 'signup_web' %}"> Sing up </a>
            {% endif %}
        </nav>
        <nav class="nav_content">
            <ul class="nav_main">
                <li class="nav_main_item"><a class="nav_main_button nav_button" href="{% url 'latest_articles' %}">Home</a></li>
                <li class="nav_main_item"><a class="nav_main_button nav_button" href="{% url 'categories_list' %}">Categories</a></li>
                <li class="nav_main_item"><a class="nav_main_button nav_button" href="{% url 'latest_articles' %}">Authors</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block body_main %}{% endblock %}
    </main>
    <footer>
        <p>WellDone</p>
        <ul class="links-list">
            <li><a class="link" href="#">Get Started</a></li>
            <li><a class="link" href="#">About WellDone</a></li>
            <li><a class="link" href="#">Write</a></li>
            <li><a class="link" href="#">Gift</a></li>
            <li><a class="link" href="#">Help</a></li>
            <li><a class="link" href="#">Press Contacts</a></li>
            <li><a class="link" href="#">Careers</a></li>
            <li><a class="link" href="#">Legal</a></li>
        </ul>
        <p class="copyright">WellDone &copy; {% now 'Y' %}. All rights reserved.</p>
    </footer>
    {% block js %}{% endblock %}
</body>
</html>