{% load sass_tags %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}WellDone{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% sass_src 'base.scss' %}" type="text/css">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1>WellDone</h1>
        <form action="" method="get" class="searcher">
            <label for="search">Search for</label>
            <input type="search" name="search" id="search" placeholder="search..." value={{ search }}>
        </form>
        <nav>
            {% if user.username %} {{ user.username }} | {% endif %}
            <a href="{% url 'latest_articles' %}">Home</a> |
            {% if user.is_authenticated %}
                <a href="{% url 'logout_web' %}"> Logout </a> |
            {% else %}
                <a href="{% url 'signup_web' %}"> Sing up </a> |
            {% endif %}
        </nav>
    </header>
    <main>
        {% block body_main %}{% endblock %}
    </main>
    <footer>
        WellDone &copy; {% now 'Y' %}. Any rights reserved.
    </footer>
</body>
</html>