.article__item {
  display: grid;
  grid-template-areas:
      'image  title'
      'image  intro'
      'image  categories'
      'image  info';
  grid-template-columns: 25% auto;
  margin-bottom: 2em;
  grid-column-gap: 1em;

  &__title {
    grid-area: title;
  }
  &__info {
    grid-area: info;
    opacity: 0.7;
  }
  &__intro {
    grid-area: intro;
  }
  &__image {
    grid-area: image;
    align-self: center;

    img {
      width: 100%;
      max-width: 230px;
    }
  }
  &__categories {
    grid-area: categories;

    a {
      padding: 0.2em 0.5em;
      background: cadetblue;
      color: white;
      border-radius: 25px;
    }
  }
}