body {
  display: grid;
  grid-template-areas:
      'header'
      'main'
      'footer';
  grid-column-gap: 0;
  grid-template-columns: auto;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  grid-area: header;
  border-bottom: 2px solid dimgrey;
  padding: 1em;

  display: grid;
  grid-template-areas:
    'brand  searcher'
    'nav    nav';
  grid-template-columns: auto 70%;
  align-items: center;

  h1 {
    grid-area: brand;
    font-family: 'Passion One', cursive;
    font-size: 40px;
    margin: 0
  }

  .searcher {
    grid-area: searcher;
    label {
      display: none;
    }
    input {
      padding: 1em;
      width: 100%;
      border: 1px solid grey;
      border-radius: 25px;
    }
  }

  nav {
    grid-area: nav;
  }
}
main {
  grid-area: main;
  padding: 2em;
}
footer {
  grid-area: footer;
  background: black;
  color: whitesmoke;
  padding: 2em;
  p {
    font-family: 'Passion One', cursive;
    font-size: 40px;
    margin: 0;
  }

  .copyright {
    box-sizing: inherit;
    margin: 0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 300;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }

  .links-list {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    justify-content: flex-start
  }

  ul li {
    display: inline-block;
    padding: 5px 10px;
  }

  .link {
    color: white
  }

  .link:hover {
    color: green
  }
  
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}