@import 'media_queries';
@import 'variables';


nav.navbar-light {
    .searcher {
        width: 70%;
        padding-right: 2rem;

        input {
                font-size: $font-size-m;


              @include desktop {
                font-size: $font-size-d;
              }

              @include largeDesktop {
                font-size: $font-size-d;
              }
        }
    }

    .navbar-nav .nav-link {
       color: black;
    }

    img {
        height: 100px;
    }

    ul {

        text-align: right;

        a {
            font-size: $font-size-m;
            color: black;
        }

        @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;

            li {
                padding: .5rem;

                a {
                    transition: all .2s ease-in;
                    font-size: $font-size-d;
                    &:hover {
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }

        @include largeDesktop {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                padding: .5rem;
                a {
                    transition: all .2s ease-in;
                    font-size: $font-size-d;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }

}


.nav {
    .nav-item {
        a {
          font-size: $font-size-m;
          color: black;

          &:hover {
            color: black;
            font-weight: bold;
          }

          @include desktop {
               font-size: $font-size-d;
          }

          @include largeDesktop {
           font-size: $font-size-d;
          }
        }
    }
}







.nav_main{
  list-style: none;
  padding-inline-start: 0;
}
.nav_main_item{
  display: inline;
}

.nav_main_button{
  margin: 0 0.2em 0 0.2em;
  padding: 0.2em .5em 0.2em .5em;
  color: black;
  font-size: 2rem;

  @include desktop {
       font-size: 1.2rem;
   }

    @include largeDesktop {
       font-size: 1.2rem;
    }
}

.nav_user a{
  padding: 0.2em .5em 0.2em .5em;
  margin: 0 0.2em 0 0.2em;
  text-decoration: none;
  color: black;
  font-size: 2rem;

  @include desktop {
       font-size: 1.2rem;
   }

    @include largeDesktop {
       font-size: 1.2rem;
    }
}