.pagination {
  display: block;
  text-align: center;

  &__links {
    a {
      font-size: 1.5em;
      padding: 0 0.3em;
      border: 1px solid grey;
      color: white;
      background-color: cadetblue;
      border-radius: 25%;
    }
  }
}