$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1024px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin largeDesktop {
    @media (min-width: #{$large-desktop-width}) {
        @content;
    }
}