{% extends 'base.html' %}
{% load widget_tweaks %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'form.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'pagination.scss' %}" type="text/css">
{% endblock %}

{% block head_title %} WellDone | {{ article.title }} {% endblock %}

{% block body_main %}
    <h1>{{ article.title }}</h1>
    <img src={{ article.image }} alt={{ article.title }}
         title="{{ article.name }} by {{ article.author.first_name }} {{ article.author.last_name }}" height="200">
    <p>By <a href="{% url 'user_articles' article.author.username %}">{{ article.author.first_name }} {{ article.author.last_name }}</a>
    </p>
    <p>Published on {{ article.publication_date }}</p>
    {% if comments.paginator.count == 1 %}
    <p><a href="#comments">{{ comments.paginator.count }} comentario</a></p>
    {% else %}
    <p><a href="#comments">{{ comments.paginator.count }} comentarios</a></p>
    {% endif %}
    <p>Categories:
        {% for category in article.categories.all %}
            <a href="{% url 'category_articles' category.slug %}" title="{{ category }} articles">{{ category }}</a>
        {% endfor %}
    <p>{{ article.introduction }}</p>
    <p>{{ article.body }}</p>
    <br>

    {% if comments.paginator.count == 1 %}
        <h2 id="comments">{{ comments.paginator.count }} Comentario:</h2>
    {% else %}
        <h2 id="comments">{{ comments.paginator.count }} Comentarios:</h2>
    {% endif %}

    <br>
    {% if user.is_authenticated %}
        <div class="form-area">
            <form  method="post" action="{% url 'article_comments' article.slug %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.active.errors }}

                {{ form.title.label_tag }} <br>
                {{ form.title|add_class:"form-field" }} <br>
                {{ form.title.errors }} <br>

                {{ form.text.label_tag }} <br>
                {{ form.text|add_class:"form-texttarea" }} <br>
                {{ form.text.errors }} <br>
                <div>
                    <button class="button-form" type="submit">add comment</button>
                </div>
            </form>
        </div>
    {% endif %}
    <section>
        {% for comment in comments %}
            <i><p>By <a href="{% url 'user_articles' comment.author.username %}">{{ article.author.first_name }} {{ article.author.last_name }}</a>,
                on {{ comment.creation_date }}</p></i>
            <h4>{{ comment.title }}</h4>
            <p>{{ comment.text }}</p>
            <br>
        {% endfor %}

        {% include 'pagination.html' with list=comments params=shown_param %}
    </section>
{% endblock %}
