{% extends 'base.html' %}

{% block head_title %} WellDone | {{ page_title }} {% endblock %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'articles.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'pagination.scss' %}" type="text/css">
{% endblock %}

{% block body_main %}
    <div class="article__list">
        <select class="date_order" id="date_order" name="date_order">
            <option value="-date">Newer articles first</option>
            <option value="date">Older articles first</option>
        </select>
        {% for article in article_list %}
            <article class="article__item">
                <a class="article__item__title" href="{% url 'article_detail' article.author.username article.slug %}">
                    <h2>{{ article.title }}</h2>
                </a>
                <small class="article__item__info">
                    <a href="{% url 'user_articles' article.author.username %}">{{ article.author.first_name }} {{ article.author.last_name }}</a>
                    | {{ article.publication_date }}
                </small>
                <a class="article__item__image" href="{% url 'article_detail' article.author.username article.slug %}">
                    <img src="{{ article.image }}" alt="{{ article.title }}" title="{{ article.title }}">
                </a>
                <p class="article__item__intro">{{ article.introduction }}</p>
                <div class="article__item__categories">
                    {% for category in article.categories.all %}
                        <a href="{% url 'category_articles' category.slug %}" title="{{ category }} articles">{{ category }}</a>
                    {% endfor %}
                </div>
            </article>
            {% include 'pagination.html' with list=article_list params=query_params %}
        {% empty %}
            <p>No results found. Please, try a new search</p>
        {% endfor %}
    </div>

    {% load static %}
    <script src="{% static 'get-url-params.js' %}"></script>
    <script src="{% static 'date-order.js' %}"></script>

{% endblock %}