{% extends 'base.html' %}
{% load widget_tweaks %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'body-three-cols.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'form.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'pagination.scss' %}" type="text/css">
{% endblock %}

{% block head_title %} WellDone | Articles {% endblock %}

{% block body_main %}
    <div class="three-cols">
        <div class="left">
            <form method="get">
                <div>
                    <input class="form-field-sm" type="text" name="search" placeholder="Author">
                </div>
                <div>
                    <button class="button-form" type="submit" id="button-search">Search</button>
                </div>
            </form>
        </div>

        <div class="middle">
            <div class="auth-grid">

                    {% for user in users %}
                        <a href="{% url 'user_articles' user.username %}">{{ user.username }}</a>
                    {% endfor %}

            </div>

            {% include 'pagination.html' with list=users params=query_params %}

        </div>
        <div class="rigth"></div>
    </div>
{% endblock %}