{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n static %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'users.scss' %}" type="text/css">
{% endblock %}

{% block main_title %}
Password recovery
{% endblock %}


{% block body_main %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}


    <div class="form-area">
        <div class="left"></div>
        <div class="middle">
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
            <form  method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.active.errors }}
                {{ form.errors }}

                <label for="id_email">{% trans 'Email address:' %}</label>
                {{ form.email|add_class:"form-field" }} <br>
                {{ form.email.errors }} <br>

                <button class="button-form" type="submit">{% trans 'Reset' %}</button>

            </form>
        </div>
        <div class="rigth"></div>
    </div>

{% endblock %}