{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'users.scss' %}" type="text/css">
{% endblock %}

{% block main_title %}
Password recovery done
{% endblock %}


{% block body_main %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}


    <div class="form-area">
        <div class="left"></div>
        <div class="middle">

            <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

            <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

        </div>
        <div class="rigth"></div>
    </div>

{% endblock %}