{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'users.scss' %}" type="text/css">
{% endblock %}

{% block main_title %}
Password recovery done
{% endblock %}


{% block body_main %}

    <div class="form-area">

        <div class="left"></div>
        <div class="middle">

            {% if validlink %}
                <form  method="post">
                    {% csrf_token %}
                    <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1|add_class:"form-field" }}
                    </div>
                    <div class="form-row field-password2">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2|add_class:"form-field" }}
                    </div>
                    <div>
                        <button class="button-form" type="submit">{% trans 'Reset' %}</button>
                    </div>
                </form>
            {% else %}

                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
        <div class="rigth"></div>
    </div>

{% endblock %}