{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'users.scss' %}" type="text/css">
{% endblock %}

{% block main_title %}
Password recovery done
{% endblock %}


{% block body_main %}

    <div class="form-area">

        <div class="left"></div>
        <div class="middle">

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

        </div>
        <div class="rigth"></div>
    </div>

{% endblock %}