{% extends 'base.html' %}
{% load widget_tweaks %}

{% block css %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'form.scss' %}" type="text/css">
{% endblock %}

{% block main_title %}
Singup
{% endblock %}


{% block body_main %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}


    <div class="form-area">
        <div class="left"></div>
        <div class="middle">
            <form  method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.active.errors }}

                {{ form.username.label_tag }} <br>
                {{ form.username|add_class:"form-field" }} <br>
                {{ form.username.errors }} <br>

                {{ form.password1.label_tag }} <br>
                {{ form.password1|add_class:"form-field" }} <br>
                {{ form.password1.errors }} <br>

                {{ form.password2.label_tag }} <br>
                {{ form.password2|add_class:"form-field" }} <br>
                {{ form.password2.errors }} <br>

                {{ form.first_name.label_tag }} <br>
                {{ form.first_name|add_class:"form-field" }} <br>
                {{ form.first_name.errors }} <br>

                {{ form.last_name.label_tag }} <br>
                {{ form.last_name|add_class:"form-field" }} <br>
                {{ form.last_name.errors }} <br>

                {{ form.email.label_tag }} <br>
                {{ form.email|add_class:"form-field" }} <br>
                {{ form.email.errors }} <br>

                <div>
                    <button class="button-form" type="submit">singup</button>
                </div>
            </form>
        </div>
        <div class="rigth"></div>
    </div>

{% endblock %}